body{
    margin: 0;
    padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrap{
    padding: 16px;
}
h2 {
    background-color: blue;
}
a{
    background-color: blueviolet;
}
.d1, .a1{
    display: inline-block;
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    background-color: pink;
    width: 180px;
    height: 80px;
    margin-top: 80px;
}