body{
    margin: 0;
    padding: 0;
}

.wrap{
    margin: 20px;
}

.box{
    height: 50px;
    background-color: rgb(148, 17, 17);
    margin-bottom: 16px;
    border: 5px solid green;
    display: grid;
    place-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 }
 h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }