body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrap{
    margin: 16px;
}
.example-1{
    width: 400px;
    height: 400px;
    background-color: rgb(18, 152, 230);
    color: hwb(120 93% 7%);
    display: grid;
    place-items: center;
}