body{
    margin: 0;
    padding: 0;
}
.wrap{
    margin: 16px;
}
.panel{
    width: 400px;
   height: 400px;
   background-color: blueviolet;  
   margin-bottom:16px;  
   border-width: 10px;
   border-style: solid;
border-color: firebrick;
}
.weird{
    width: 400px;
    height: 400px;
    background-color: blue;
    margin-bottom: 16px;
    border-width: 10px;
    border-left-style: dashed;
    border-right-style: dotted;
    border-top-style: double
    
}
.card{
    width: 400px;
    height: 400px;
    background-color: rgb(148, 17, 17);
    margin-bottom: 16px;
    border: 5px solid green;
}